<!--The content below is only a placeholder and can be replaced.-->
<header>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="">
                <img class="image" src="https://i.imgur.com/vNvsGvS.png">
            </a>
        
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <a class="navbar-item" routerLink=""><span aria-hidden="true">Home</span></a>
                <a class="navbar-item" routerLink="/about"><span aria-hidden="true">Sobre</span></a>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" routerLink="">Home</a>
                <a class="navbar-item" routerLink="/about">Sobre</a>
            </div>
            <div class="navbar-end"></div>
        </div>
    </nav>
</header>
<section>
    <router-outlet></router-outlet>
</section>


